p{
    color: black;
    width: 500px;
    line-height: 1;
    letter-spacing: 1px;
    font-size: 16px;
}
ul{
    color: blanchedalmond;
}
html{
    font-size: 10px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
    font-family: 'Bebas Neue', cursive; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
    background-color: #c44dff;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}
h2{
    font-size: 50px;
    text-align: center;
}
  
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
img[src]{
    width: 500px;
    height: 400px;
    display: block;
    margin: 0 auto;
}
/* img {
    display: block;
    margin: 0 auto;
  } */
body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
